@model PetCareWeb.Models.LoginViewModel

@{
    ViewData["Title"] = "Đăng Nhập";
    string returnUrl = ViewData["ReturnUrl"] as string;
}

<div class="form-container">
    <h2>Đăng Nhập</h2>

    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
    {
        <div class="alert alert-danger">
            @ViewData["ErrorMessage"]
        </div>
    }

    <form asp-action="Login">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MatKhau" class="control-label"></label>
            <input asp-for="MatKhau" class="form-control" />
            <span asp-validation-for="MatKhau" class="text-danger"></span>
        </div>
        <div class="form-group btn-container">
            <input type="submit" value="Đăng Nhập" class="btn btn-primary btn-block" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
